game-controls {
	width: 100%;
	bottom: 20px;
	position: absolute;

	button,
	ul,
	li {
		position: relative;
		z-index: 1000;
	}
}

.game-menu {
	button {
		float: right;
	}

	ul.game-con li{
		background: white;
	}
	
	ul.game-con li a{
		display: block;
		padding: 1em;
	}
}