.encounter-display {
	position: relative;
	z-index: 1;
	margin-top: 20px;
}

.encounter-canvas {
	position: fixed;
	top: 0;
}

.background-canvas {
	background: rgba(0,0,0,0.3);
}

.character-canvas {
	z-index: 1;
}

.encounter-menu-container {
	height: 100px;
	overflow: scroll;
	padding-left: 0;
	padding-right: 0;
}

.encounter-controls {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 2;
}

.action-menu {
	padding: 5px 0;
	position: relative;
	z-index: 3;

	li:nth-child(even) {
		background: #eee;
	}

	a {
		padding: 5px 10px;
		width: 100%;
		display: block;
	}
}

.encounter-menu {
	background: white;
}

.combat-time-line {
	.unit {
		width: 45px;
		height: 45px;
		-webkit-transition: margin 0.01s; /* Safari */
	    transition: margin 0.1s;
	}

	.opposition .unit {
		background: red;
	}

	.operatives .unit {
		background: blue;
	}

	.timeline {
		height: 10px;
		width: 100%;
		background: cyan;
	}
}
